footer form, #contact .contact-content__left--items, #contact .contact-content, #our-blog .wrapper__items, #services, .nav-header__menu--items, .nav-header {
  display: flex;
}

footer p, #contact .contact-content__left--items div p:last-child, #our-blog .wrapper__items p, #testimonials .main-test__items p, #services .services-right__items p, #services .services-left p, #statistics .statistics__items--content, #what-we-do .dog-list p, #welcome p, .main-header p {
  margin: 0;
  letter-spacing: 1px;
  display: inline-block;
  line-height: 1.5rem;
}

footer form input, #contact .contact-content__right form input,
#contact .contact-content__right form textarea {
  padding: 0.8rem;
}

#contact h2, #our-blog h2, #testimonials h2, #services .services-left h2, #statistics h2, #what-we-do h2, #welcome h2, .main-header h2 {
  font-size: 3rem;
}

footer, #contact, #our-blog, #testimonials, #services, #statistics, #what-we-do, #welcome {
  padding: 3.5rem 10%;
}

#maps {
  padding-top: 3.5rem;
}

#contact .contact-content {
  padding: 0 4.5rem;
}

#contact .contact-content__right, #services .services-right__items {
  box-shadow: 7px 7px 10px 0px #d1d4d7;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  background-color: #f8f9fa;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url(../img/1.jpg);
  color: #fff;
}

.nav-header {
  width: 100%;
  height: auto;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
}
.nav-header .logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.nav-header__menu--items {
  padding: 0;
}
.nav-header__menu--items li {
  list-style-type: none;
  margin-left: 4px;
  border-radius: 5px;
}
.nav-header__menu--items li:hover {
  background-color: #fff;
  cursor: pointer;
}
.nav-header__menu--items li:hover a {
  color: #000;
}
.nav-header__menu--items a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}
.nav-header__menu--items .hight-light {
  background-color: #fff;
  border-radius: 5px;
}
.nav-header__menu--items .hight-light a {
  color: #000;
}

.drop-down {
  position: relative;
}
.drop-down:hover .drop-down__items {
  display: block;
}
.drop-down__items {
  padding: 0;
  position: absolute;
  top: 100%;
  display: none;
  background-color: #000;
}
.drop-down__items li {
  margin: 0;
  padding: 0;
}
.drop-down__items li:hover a {
  color: #000 !important;
}
.drop-down__items li a {
  display: block;
  padding: 1rem;
  color: #fff !important;
}

.main-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-header button {
  cursor: pointer;
  margin-top: 3rem;
  font-size: 1rem;
  padding: 12px 10px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
}

.label-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
}
.label-list label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 50%;
}

#welcome {
  text-align: center;
}
#welcome h2 {
  color: #000;
}
#welcome p {
  color: #999;
}
#welcome img {
  width: 100%;
  height: auto;
  margin-top: 2.5rem;
}

#what-we-do {
  text-align: center;
}
#what-we-do h2 {
  color: #000;
}
#what-we-do .dog-list {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 1rem;
}
#what-we-do .dog-list div {
  padding: 0.8rem;
}
#what-we-do .dog-list div:hover img {
  transform: rotateY(-180deg);
  transition: 0.5s linear;
}
#what-we-do .dog-list img {
  width: 68%;
  height: auto;
  border-radius: 50%;
}
#what-we-do .dog-list p {
  color: #999;
}

#statistics {
  background-image: url(../img/bg.jpg);
  overflow: hidden;
  text-align: center;
  color: #fff;
  width: 100%;
  height: auto;
  position: relative;
  background-position: top;
  background-size: cover;
  animation: run-y 8s 5 ease-in-out alternate forwards;
}
#statistics h2 {
  margin-bottom: 4.5rem;
}
#statistics .statistics__items {
  display: grid;
  grid-template: auto/1fr 1fr 1fr 1fr;
  gap: 20px;
}
#statistics .statistics__items--number {
  margin: 0;
  font-size: 4.3rem;
}
@keyframes run-y {
  to {
    background-position-y: 100%;
  }
}
#services p {
  color: #999;
}
#services .services-left {
  width: 40%;
  height: auto;
  padding: 0 50px;
}
#services .services-left h2 {
  text-align: start;
  margin-bottom: 30px;
}
#services .services-left p {
  line-height: 2.2rem;
}
#services .services-right {
  text-align: center;
  width: 60%;
  height: auto;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 20px;
}
#services .services-right__items {
  padding: 2.4rem;
  background-color: #fff;
  border-radius: 5px;
}
#services .services-right__items i {
  font-size: 2.9rem;
  color: #ff9900;
}
#services .services-right__items h3 {
  font-size: 2rem;
  font-weight: normal;
}
#services .services-right__items:hover {
  background-color: #ff9900;
}
#services .services-right__items:hover p,
#services .services-right__items:hover i {
  color: #fff;
}
#services .services-right__items:hover .services-right__items--content {
  animation: services__items--content 0.6s cubic-bezier(0, 1.18, 0.99, 0.98);
}

@keyframes services__items--content {
  from {
    transform: translateY(-150%);
    opacity: 0;
    filter: blur(8px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
#testimonials {
  text-align: center;
  background-image: url(../img/bg.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
}
#testimonials h2 {
  color: #fff;
}
#testimonials .main-test {
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
  gap: 20px;
  overflow: hidden;
}
#testimonials .main-test__items {
  padding: 1rem 2.5rem;
}
#testimonials .main-test__items p {
  color: #fff;
  line-height: 1.6rem;
}
#testimonials .main-test__items img {
  border-radius: 50%;
  padding: 1.4rem 0;
}
#testimonials .main-test__items h4 {
  font-size: 1.2rem;
  color: #ff9900;
  text-align: end;
}
#testimonials .main-test__items:hover {
  animation: testimonials__items 1.5s cubic-bezier(0.97, 0.01, 0.48, 1.02) forwards;
}

@keyframes testimonials__items {
  to {
    transform: scaleX(0.1) translateY(-200%);
    opacity: 0;
    filter: blur(12px);
  }
}
#our-blog h2 {
  text-align: center;
}
#our-blog .wrapper {
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
  gap: 20px;
}
#our-blog .wrapper__items {
  flex-direction: column;
}
#our-blog .wrapper__items img {
  width: 100%;
  border-radius: 3px;
}
#our-blog .wrapper__items--content {
  border: 1px solid #d1d4d7;
  border-radius: 3px;
  padding: 12px;
}
#our-blog .wrapper__items p {
  color: #999;
  padding: 0.7rem 0 0.9rem;
}
#our-blog .wrapper__items button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 1rem;
  color: #ff9900;
}
#our-blog .wrapper__items--right {
  padding: 15px;
  border: 1px solid #d1d4d7;
}
#our-blog .wrapper .p--black {
  line-height: 2rem;
  margin: 0;
  color: #000;
  font-size: 1.3rem;
}
#our-blog .wrapper .p--black:hover {
  cursor: pointer;
  transition: 0.25s linear;
  color: #ff9900;
}
#our-blog .wrapper .year {
  color: #ff9900;
}
#our-blog .blog-effect:hover {
  animation: our-blog 1s ease-in-out;
}
@keyframes our-blog {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4%);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-3%);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}

#contact {
  background-color: #fff;
}
#contact h2 {
  text-align: center;
}
#contact .contact-content__left {
  width: 50%;
  padding: 0 2rem;
}
#contact .contact-content__left h3 {
  color: #ff9900;
  font-size: 1.9rem;
  font-weight: normal;
  margin-top: 0;
}
#contact .contact-content__left--items {
  margin-top: 2rem;
}
#contact .contact-content__left--items i {
  font-size: 1.8rem;
}
#contact .contact-content__left--items div {
  padding-left: 2rem;
}
#contact .contact-content__left--items div p:first-child {
  margin: 0;
}
#contact .contact-content__left--items div p:last-child {
  margin-top: 1rem;
  color: #999;
}
#contact .contact-content__right {
  width: 50%;
  background-color: #f8f9fa;
  padding: 1.5rem 2rem;
  border-radius: 5px;
}
#contact .contact-content__right form input,
#contact .contact-content__right form textarea {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid #e6e6e6;
}
#contact .contact-content__right form input:placeholder-shown,
#contact .contact-content__right form textarea:placeholder-shown {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
}
#contact .contact-content__right form textarea {
  resize: none;
}
#contact .contact-content__right form #submit {
  border: none;
  border-radius: 5px;
  background-color: #f8ad3e;
  color: #fff;
  font-size: 1rem;
}
#contact .contact-content__right form #submit:hover {
  background-color: #ff9900;
  transition: 0.25s linear;
}
#contact .contact-content__right form textarea {
  width: 100% !important;
}

footer {
  background-color: #202022;
  color: #fff;
  display: grid;
  grid-template: auto/1fr 1fr 1fr 1fr;
  gap: 20px;
}
footer h3 {
  font-weight: normal;
  font-size: 1.5rem;
}
footer p {
  color: #999;
}
footer i {
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  color: #fff;
}
footer .faceBook {
  padding: 0.5rem 0.7rem;
  background-color: #3b5998;
}
footer .twitter {
  background-color: #1da1f2;
}
footer .browm {
  background-color: #ea4c89;
}
footer .google {
  padding: 0.5rem 0.4rem;
  background-color: #f44336;
}
footer form {
  width: 100%;
  flex-wrap: wrap;
}
footer form input {
  border: none;
}
footer form input:last-child {
  background-color: #ff9900;
  color: #fff;
}
footer form input:last-child:hover {
  background-color: #f8ad3e;
}

@media only screen and (max-width: 992px) {
  #welcome, #what-we-do, #statistics, #services, #testimonials, #our-blog, #contact, footer {
    padding: 3.5rem 4%;
  }

  body {
    font-size: 20px;
  }

  .nav-header__menu--items .hight-light {
    background: none;
  }
  .nav-header__menu--items .hight-light a {
    color: #fff;
  }

  .nav__items--hidden {
    display: none !important;
  }

  #what-we-do .dog-list {
    display: grid;
    grid-template: auto/1fr 1fr;
    gap: 20px;
  }
  #what-we-do .dog-list img {
    width: 40%;
  }

  #statistics .statistics__items {
    display: grid;
    grid-template: auto/1fr 1fr;
    gap: 20px;
  }

  #services .services-left {
    padding: 0;
  }

  #testimonials .main-test__items {
    padding: 1rem 0.1rem;
  }

  footer form input:first-child {
    width: 65%;
  }
  footer form input:last-child {
    width: 30%;
  }
}
@media only screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }

  #what-we-do .dog-list {
    display: grid;
    grid-template: auto/1fr;
    gap: 20px;
  }
  #what-we-do .dog-list img {
    width: 30%;
  }

  #statistics .statistics__items {
    display: grid;
    grid-template: auto/1fr;
    gap: 20px;
  }

  #services {
    display: block;
  }
  #services .services-left {
    width: 100%;
    padding-bottom: 2rem;
  }
  #services .services-right {
    width: 100%;
    display: grid;
    grid-template: auto/1fr;
    gap: 20px;
  }
  #services .services-right__items div {
    width: 100%;
  }

  #testimonials .main-test {
    display: grid;
    grid-template: auto/1fr;
    gap: 20px;
  }
  #testimonials .main-test h4 {
    text-align: center;
  }

  #our-blog .wrapper {
    display: grid;
    grid-template: auto/1fr;
    gap: 20px;
    gap: 2rem;
  }

  #contact .contact-content {
    display: block;
    padding: 0;
  }
  #contact .contact-content__left, #contact .contact-content__right {
    width: 100%;
  }

  footer {
    display: grid;
    grid-template: auto/1fr 1fr;
    gap: 20px;
  }
  footer .footer__div--center {
    grid-area: 2/1/3/3;
  }
  footer .footer__div--bottom {
    grid-area: 3/1/3/3;
  }
}

/*# sourceMappingURL=new.css.map */
