* {
    box-sizing: border-box;
}

:root {
    --bck-color--: #f8f9fa;
    --color-icons--: #ff9900;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    background-color: var(--bck-color--);
}

header {
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

header img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 18px 15px;
    border-radius: 5px;
    margin-right: 4px;
}

.nav-header {
    width: 100%;
    padding: 0 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header__menu--items {
    display: flex;
}

.nav-header__menu ul li {
    list-style-type: none;
}

.drop-down {
    position: relative;
}

.drop-down__items {
    display: none;
    position: absolute;
    text-align: left;
    padding: 0;
    background-color: #000000;
    top: 160%;
}

.drop-down__items li {
    color: #fff;
    padding: 18px 0;
    border-radius: 5px;
}

.drop-down__items li:hover {
    background-color: #fff;
    color: black;
}

.drop-down__items li:hover a {
    color: #202022;
}

.drop-down:hover .drop-down__items{
    display: block;
}

a:hover {
    background-color: #fff;
    color: black;
}

p {
    color: #999;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    display: inline-block;
}

.hight-light {
    background-color: #fff;
    color: black;
    border-radius: 5px;
}


.main-header {
    width: 42%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    cursor: pointer;
    margin-top: 3em;
    padding: 12px;
    font-size: 15px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

.label-list {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    background-color: #fff;
    opacity: .7;
    border-radius: 50%;
}

.main-hearder button {
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    padding: 12px 10px;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

main {
    margin-top: 70px;
}

section {
    padding: 50px 10%;
}

.welcome p {
    padding: 40px 0;
}

.welcome img {
    width: 100%;
}

.dog-list div:hover img {
    animation: rotate 1s;
}

@keyframes rotate {
    to {
        transform: rotateY(180deg);
    }
}

#what-we-do h2 {
    margin: 30px 0;
}

.dog-list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
}

.dog-list div {
    text-align: center;
    padding: 20px;
}

.dog-list img {
    width: 70%;
    border-radius: 50%;
}

#statistics {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 40px 0;
    padding: 0;
    height: 75vh;
    overflow: hidden;
    position: relative;
}

.list-statc,
.main-test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.list-statc {
    text-align: center;
    width: 75%;
    height: auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-statc h3 {
    margin-bottom: 0px;
    font-size: 65px;
    font-weight: normal;
}

#services {
    padding-top: 70px;
    width: 100%;
    display: flex;
}

#services p {
    margin-bottom: 40px;
}

.left-sevices {
    width: 40%;
    padding: 0 50px;
}

.left-sevices h2 {
    text-align: start;
    margin-bottom: 30px;
}

.left-sevices p {
    text-align: start;
    line-height: 38px;
}

.right-sevices {
    width: 60%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 18px 15px;
}

.right-sevices h3 {
    font-size: 30px;
    font-weight: normal;
}

.right-sevices__items {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 0px #d1d4d7;
    box-sizing: border-box;
}

.right-sevices i {
    width: 50px;
    height: 50px;
    font-size: 45px;
    color: var(--color-icons--);
}

.right-sevices__items:hover {
    background-color: #ff9900;
}

.right-sevices__items:hover .right-sevices__items--content {
    animation: sevices_items 0.6s cubic-bezier(0,1.18,.99,.98);
}

.right-sevices__items:hover p {
    color: #fff;
}

.right-sevices__items:hover i {
    color: #fff;
}

@keyframes sevices_items {
    from {
        transform: translateY(-150%);
        opacity: 0;
        filter: blur(8px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#testimonials {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 70px 0;
    overflow: hidden;
    position: relative;
}

#testimonials>img {
    width: 100%;
}

.main-test {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-test p {
    line-height: 28px;
}

.main-test img {
    width: auto;
    border-radius: 50%;
    display: inline-block;
    padding: 25px 0;
}

.main-test h2 {
    width: 100%;
}

.main-test__items {
    padding-top: 35px;
    width: 30%;
    text-align: center;
}

.main-test h4 {
    margin: 0px;
    text-align: end;
    color: var(--color-icons--);
    font-size: 18px;
}

.main-test__items--content:hover {
    animation: testimonials_items 1.5s cubic-bezier(.97,.01,.48,1.02);
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.main-test__items:hover {
    overflow: hidden;
}

@keyframes testimonials_items {
    to {
        transform: translateY(-200%);
        opacity: 0;
        filter: blur(8px);
    }
}

#our-blog h2 {
    margin-bottom: 40px;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content-blog {
    border: 1px solid #999;
    border-radius: 3px;
}

.content-blog img {
    width: 100%;
}

.content-blog p {
    padding: 12px 12px;
    text-align: start;
}

.content-blog button {
    margin: 0;
    padding: 12px 12px;
    border: none;
    background-color: var(--bck-color--);
    font-size: 16px;
    color: var(--color-icons--);
    font-weight: bold;
}

.year {
    color: var(--color-icons--);
}

.maps {
    margin-top: 60px;
    padding: 0;
}

#contact {
    background-color: #fff;
}

#contact h2 {
    margin-bottom: 40px;
}

.ct-contact {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.left-contact {
    width: 50%;
    padding-right: 30px;
}

.ct-if {
    display: flex;
    margin-bottom: 20px;
}

.ct-if i {
    font-size: 30px;
}

.left-contact p {
    text-align: start;
    padding-left: 30px;
}

.left-contact h3 {
    font-size: 30px;
    margin-top: 0;
    color: var(--color-icons--);
}

.right-contact {
    background-color: var(--bck-color--);
    width: 50%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 0px #d1d4d7;
}

.contact__form input {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #e6e6e6;
}

#submit {
    background-color: var(--color-icons--);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    width: 100%;
    min-height: 100px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
}

#mess:placeholder {
    text-align: start;
}

.p--white {
    color: #fff;
}

.p--black {
    cursor: pointer;
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
}

.p--black:hover {
    color: var(--color-icons--);
    transition: .25s linear;
}

span {
    color: black;
}

footer {
    padding: 35px 10%;
    background-color: #202022;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: start;
    color: #fff;
}

footer p {
    text-align: start;
}

footer a {
    padding: 0 5px;
}

.footer__form {
    display: flex;
}

#yourEmail {
    padding: 10px;
}

#ft-sbm {
    color: #fff;
    width: 30%;
    height: 45px;
    background-color: var(--color-icons--);
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* tablet size */

@media only screen and (max-width: 992px) {
    .nav__item--hidden {
        display: none;
    }

    .dog-list {
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
        gap: 0;
    }

    .dog-list img {
        width: 40%;
    }

    .list-statc {
        padding-bottom: 30px;
    }

    .list-statc div {
        width: 45%;
    }

    #services {
        padding: 0 10px;
    }

    .left-sevices {
        padding: 0 5px 0 0;
    }

    .right-sevices div {
        padding: 20px 0 0;
    }

}

/* mobile size */

@media only screen and (max-width: 576px) {
    
    .main-header {
        width: 80%;
    }
    
    .main-header h2 {
        font-size: 30px;
    }

    .dog-list {
        grid-template-columns: 100%;
    }

    #statistics {
        height: 150vh;
    }

    .list-statc div {
        width: 100%;
    }

    .list-statc h3 {
        margin-top: 25px;
    }

    #services {
        display: block;
        padding: 0 18px;
    }

    .left-sevices {
        width: 100%;
    }

    .right-sevices {
        width: 100%;
        grid-template-columns: 100%;
    }

    #testimonials {
        height: 190vh;
    }

    .main-test {
        width: 85%;
    }

    .main-test div {
        width: 100%;
    }

    .wrapper {
        grid-template-columns: 100%;
    }

    .ct-contact {
        display: block;
        width: 100%;
    }

    .left-contact {
        width: 100%;
        padding: 0;
    }

    .right-contact {
        width: 100%;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer__div--center {
        grid-area: 2 / 1 / 3 / 3;
    }

    .footer__div--bottom {
        grid-area: 3 / 1 / 3 / 3;
    }
}