* {
    box-sizing: border-box;
}

:root {
    --bck-color--: #f8f9fa;
    --color-icons--: #ff9900;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    background-color: var(--bck-color--);
}

header {
    position: relative;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

header img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 18px 15px;
    border-radius: 5px;
    margin-right: 4px;
}

.nav-header {
    width: 100%;
    padding: 0 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:hover {
    background-color: #fff;
    color: black;
}

p {
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    display: inline-block;
}

.hight-light {
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

.main-header {
    width: 42%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button {
    padding: 12px;
    font-size: 15px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

.label-list {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    background-color: #fff;
    opacity: .7;
    border-radius: 50%;
}

.main-hearder button {
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    padding: 12px 10px;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

main {
    margin-top: 70px;
}

section {
    padding: 50px 10%;
}

.welcome p {
    padding: 40px 0;
    color: #999;
}

.welcome img {
    width: 100%;
}

#what-we-do img:hover {
    transform: rotateY(180deg);
    transition: 1s;
}

#what-we-do h2 {
    margin: 30px 0;
}

#what-we-do p {
    color: #999;
}

.dog-list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
}

.dog-list div {
    text-align: center;
    padding: 20px;
}

.dog-list img {
    border-radius: 50%;
}

#statistics {
    width: 100%;
    margin: 40px 0;
    padding: 0;
    max-height: 75vh;
    overflow: hidden;
    position: relative;
}

#statistics img {
    width: 100%;
    height: auto;
}

.list-statc,
.main-test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.list-statc {
    text-align: center;
    width: 75%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-statc h3 {
    margin-bottom: 0px;
    font-size: 65px;
    font-weight: normal;
}

#services {
    padding-top: 70px;
    width: 100%;
    display: flex;
}

#services p {
    color: #999;
    margin-bottom: 40px;
}

.left-sevices {
    width: 40%;
    padding: 0 50px;
}

.left-sevices h2 {
    text-align: start;
    margin-bottom: 30px;
}

.left-sevices p {
    text-align: start;
    line-height: 38px;
}

.right-sevices {
    width: 60%;
    display: grid;
    grid-template: 50% 50% / 1fr 1fr;
    gap: 18px 15px;
}

.right-sevices h3 {
    font-size: 30px;
    font-weight: normal;
}

.right-sevices div {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 0px #d1d4d7;
}

.right-sevices i {
    width: 50px;
    height: 50px;
    font-size: 45px;
    color: var(--color-icons--);
}

#testimonials {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 70px 0;
    overflow: hidden;
    position: relative;
}

#testimonials>img {
    width: 100%;
    height: auto;
}

.main-test {
    width: 60%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-test p {
    line-height: 28px;
}

.main-test img {
    width: auto;
    border-radius: 50%;
    display: inline-block;
    padding: 25px 0;
}

.main-test h2 {
    width: 100%;
}

.main-test div {
    margin-top: 35px;
    width: 30%;
    text-align: center;
}

.main-test h4 {
    margin: 0px;
    text-align: end;
    color: var(--color-icons--);
    font-size: 18px;
}

#our-blog {
    height: 100vh;
}

#our-blog h2 {
    margin-bottom: 40px;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content-blog {
    border: 1px solid #999;
    border-radius: 3px;
}

.content-blog img {
    width: 100%;
}

.content-blog p {
    padding: 12px 12px;
    text-align: start;
}

.content-blog button {
    padding: 12px 12px;
    border: none;
    background-color: var(--bck-color--);
    font-size: 16px;
    color: var(--color-icons--);
    font-weight: bold;
}

.year {
    color: var(--color-icons--);
}

.maps {
    margin-top: 60px;
    padding: 0;
}

#contact {
    background-color: #fff;
}

#contact h2 {
    margin-bottom: 40px;
}

.ct-contact {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.left-contact {
    width: 50%;
    padding-right: 30px;
}

.ct-if {
    display: flex;
    margin-bottom: 20px;
}

.ct-if i {
    font-size: 30px;
}

.left-contact p {
    text-align: start;
    padding-left: 30px;
}

.left-contact h3 {
    font-size: 30px;
    margin-top: 0;
    color: var(--color-icons--);
}

.right-contact {
    background-color: var(--bck-color--);
    width: 50%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 0px #d1d4d7;
}

form input {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #e6e6e6;
}

#submit {
    background-color: var(--color-icons--);
    color: #fff;
    border-radius: 5px;
}

textarea {
    width: 100%;
    min-height: 100px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
}

#mess::placeholder {
    text-align: start;
}

footer {
    padding: 35px 10%;
    height: 80vh;
    background-color: #202022;
    display: grid;
    grid-template: 30px auto / 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: start;
    color: #fff;
}

footer p {
    text-align: start;
    color: #999;
}

#yourEmail {
    margin: 10px 0 0;
}

#ft-sbm {
    color: #fff;
    width: 30%;
    background-color: var(--color-icons--);
    border: none;
}