$font-family: 'Nunito Sans', sans-serif;
$font-size: 16px;
$bgc-web: #f8f9fa;
$p--color: #999;
$color-web: #fff;
$h2-color: #000;
$shadow-color: #d1d4d7;
$items-color: #ff9900;
$input-color: #e6e6e6;
$items-color2: #f8ad3e;
$bgc-footer: #202022;
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$browm-color: #ea4c89;
$google-color: #f44336;