@import "./mixin";
@import "./variabel";

%flexbox {
    display: flex;
}

%paragrap {
    margin: 0;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 1.5rem;
}

%input {
    padding: 0.8rem;
}

%h2 {
    font-size: 3rem;
}

%pd-section {
    padding: 3.5rem 10%;
}

%pd-section-top {
    padding-top: 3.5rem;
}

%pd-item-x {
    padding: 0 4.5rem;
}

%shadow {
    box-shadow: 7px 7px 10px 0px $shadow-color;
}


* {
    box-sizing: border-box;
}

body {
    font-size: $font-size;
    font-family: $font-family;
    margin: 0;
    background-color: $bgc-web;
}

header {
    @include size(100%, 100vh);
    @include background-img();
    background-image: url(../img/1.jpg);
    color: $color-web;
}

.nav-header {
    @include size(100%, auto);
    @extend %flexbox;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        color: $color-web;
    }

    &__menu--items {
        @extend %flexbox;
        padding: 0;

        li {
            list-style-type: none;
            margin-left: 4px;
            border-radius: 5px;

            &:hover {
                background-color: $color-web;
                cursor: pointer;

                a {
                    color: $h2-color;
                }
            }
        }

        a {
            display: block;
            padding: 1rem;
            color: $color-web;
            text-decoration: none;
        }

        .hight-light {
            background-color: #fff;
            border-radius: 5px;

            a {
                color: $h2-color;
            }
        }

    }
}

.drop-down {
    position: relative;

    &:hover &__items {
        display: block;
    }

    &__items {
        padding: 0;
        position: absolute;
        top: 100%;
        display: none;
        background-color: $h2-color;

        li {
            margin: 0;
            padding: 0;

            &:hover a {
                color: $h2-color  !important;
            }

            a {
                display: block;
                padding: 1rem;
                color: $color-web  !important;
            }
        }
    }
}

.main-header {
    @include direction();
    text-align: center;

    h2 {
        @extend %h2;
    }

    p {
        @extend %paragrap;

    }

    button {
        cursor: pointer;
        margin-top: 3rem;
        font-size: 1rem;
        padding: 12px 10px;
        background: none;
        border: 2px solid $color-web;
        color: $color-web;
        border-radius: 5px;
    }
}

.label-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;

    label {
        cursor: pointer;
        display: inline-block;
        @include size(10px, 10px);
        margin: 0px 5px;
        background-color: $color-web;
        opacity: .7;
        border-radius: 50%;
    }
}

#welcome {
    text-align: center;
    @extend %pd-section;

    h2 {
        @extend %h2;
        color: $h2-color;
    }

    p {
        @extend %paragrap;
        color: $p--color;
    }

    img {
        @include size();
        margin-top: 2.5rem;
    }
}

#what-we-do {
    text-align: center;
    @extend %pd-section;

    h2 {
        @extend %h2;
        color: $h2-color;
    }

    .dog-list {
        @include dp-grid(1fr 1fr 1fr 1fr, 1fr 1fr);
        padding-top: 1rem;

        div {
            padding: .8rem;

            &:hover img {
                transform: rotateY(-180deg);
                transition: .5s linear;
            }
        }

        img {
            @include size(68%);
            border-radius: 50%;
        }

        p {
            @extend %paragrap;
            color: $p--color;
        }

    }
}

#statistics {
    background-image: url(../img/bg.jpg);
    overflow: hidden;
    text-align: center;
    color: $color-web;
    @extend %pd-section;
    @include size(100%);
    @include background-img(top);
    animation: run-y 8s 5 ease-in-out alternate forwards;

    h2 {
        @extend %h2;
        margin-bottom: 4.5rem;
    }

    .statistics__items {
        @include dp-grid(1fr 1fr 1fr 1fr, auto);

        &--number {
            margin: 0;
            font-size: 4.3rem;
        }

        &--content {
            @extend %paragrap;
        }
    }

}

@keyframes run-y {
    to {
        background-position-y: 100%;
    }
}

#services {
    @extend %pd-section;
    @extend %flexbox;

    p {
        color: $p--color;
    }

    .services-left {
        @include size(40%);
        padding: 0 50px;

        h2 {
            @extend %h2;
            text-align: start;
            margin-bottom: 30px;
        }

        p {
            @extend %paragrap;
            line-height: 2.2rem;
        }

    }

    .services-right {
        text-align: center;
        @include size(60%);
        @include dp-grid(1fr 1fr, 1fr 1fr);

        &__items {
            padding: 2.4rem;
            background-color: $color-web;
            border-radius: 5px;
            @extend %shadow;

            i {
                font-size: 2.9rem;
                color: $items-color;
            }

            h3 {
                font-size: 2rem;
                font-weight: normal;
            }

            p {
                @extend %paragrap;
            }

            &:hover {
                background-color: $items-color;

                p,
                i {
                    color: $color-web;
                }
            }

            &:hover {
                .services-right__items--content {
                    animation: services__items--content 0.6s cubic-bezier(0, 1.18, .99, .98);
                }

            }
        }
    }
}

@keyframes services__items--content {
    from {
        transform: translateY(-150%);
        opacity: 0;
        filter: blur(8px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#testimonials {
    @extend %pd-section;
    text-align: center;
    background-image: url(../img/bg.jpg);
    @include background-img(center);

    h2 {
        @extend %h2;
        color: $color-web;
    }

    .main-test {
        @include dp-grid(1fr 1fr 1fr, auto);
        overflow: hidden;

        &__items {
            padding: 1rem 2.5rem;

            p {
                color: $color-web;
                @extend %paragrap;
                line-height: 1.6rem;
            }

            img {
                border-radius: 50%;
                padding: 1.4rem 0;
            }

            h4 {
                font-size: 1.2rem;
                color: $items-color;
                text-align: end;
            }

            &:hover {
                animation: testimonials__items 1.5s cubic-bezier(.97, .01, .48, 1.02) forwards;
            }
        }

    }

}

@keyframes testimonials__items {
    to {
        transform: scaleX(0.1) translateY(-200%);
        opacity: 0;
        filter: blur(12px);
    }
}

#our-blog {
    @extend %pd-section;

    h2 {
        @extend %h2;
        text-align: center;
    }

    .wrapper {
        @include dp-grid(1fr 1fr 1fr, auto);

        &__items {
            @extend %flexbox;
            flex-direction: column;

            img {
                width: 100%;
                border-radius: 3px;
            }

            &--content {
                border: 1px solid $shadow-color;
                border-radius: 3px;
                padding: 12px;
            }

            p {
                @extend %paragrap;
                color: $p--color;
                padding: .7rem 0 0.9rem;
            }

            button {
                cursor: pointer;
                background: none;
                border: none;
                padding: 0;
                font-weight: bold;
                font-size: 1rem;
                color: $items-color;
            }

            &--right {
                padding: 15px;
                border: 1px solid $shadow-color;
            }
        }

        .p--black {
            line-height: 2rem;
            margin: 0;
            color: $h2-color;
            font-size: 1.3rem;

            &:hover {
                cursor: pointer;
                transition: .25s linear;
                color: $items-color
            }
        }

        .year {
            color: $items-color;
        }

    }

    .blog-effect:hover {
        animation: our-blog 1s ease-in-out;
    }

    @keyframes our-blog {
        0% {
            transform: translateY(0)
        }

        10% {
            transform: translateY(-10%)
        }

        20% {
            transform: translateY(0)
        }

        30% {
            transform: translateY(-5%)
        }

        40% {
            transform: translateY(0)
        }

        50% {
            transform: translateY(-4%)
        }

        60% {
            transform: translateY(0)
        }

        70% {
            transform: translateY(-3%)
        }

        80% {
            transform: translateY(0)
        }

        90% {
            transform: translateY(-1%)
        }

        100% {
            transform: translateY(0)
        }
    }
}

#maps {
    @extend %pd-section-top;
}

#contact {
    @extend %pd-section;
    background-color: $color-web;

    h2 {
        @extend %h2;
        text-align: center;
    }

    .contact-content {
        @extend %flexbox;
        @extend %pd-item-x;

        &__left {
            width: 50%;
            padding: 0 2rem;

            h3 {
                color: $items-color;
                font-size: 1.9rem;
                font-weight: normal;
                margin-top: 0;
            }

            &--items {
                @extend %flexbox;
                margin-top: 2rem;

                i {
                    font-size: 1.8rem;
                }

                div {
                    padding-left: 2rem;

                    p:first-child {
                        margin: 0;
                    }

                    p:last-child {
                        margin-top: 1rem;
                        @extend %paragrap;
                        color: $p--color;

                    }
                }
            }
        }

        &__right {
            width: 50%;
            background-color: $bgc-web;
            padding: 1.5rem 2rem;
            border-radius: 5px;
            @extend %shadow;

            form {

                input,
                textarea {
                    width: 100%;
                    margin: 0.5rem 0;
                    @extend %input;
                    border: 1px solid $input-color;

                    &:placeholder-shown {
                        font-size: 1rem;
                        font-family: $font-family;
                    }
                }

                textarea {
                    resize: none;
                }

                #submit {
                    border: none;
                    border-radius: 5px;
                    background-color: $items-color2;
                    color: $color-web;
                    font-size: 1rem;

                    &:hover {
                        background-color: $items-color;
                        transition: 0.25s linear;
                    }
                }

                textarea {
                    width: 100% !important;
                }
            }
        }
    }
}

footer {
    background-color: $bgc-footer;
    color: $color-web;
    @extend %pd-section;
    @include dp-grid(1fr 1fr 1fr 1fr, auto);

    h3 {
        font-weight: normal;
        font-size: 1.5rem;
    }

    p {
        @extend %paragrap;
        color: $p--color;
    }

    i {
        font-size: 1.3rem;
        padding: 0.5rem 0.5rem;
        color: $color-web;
    }

    .faceBook {
        padding: .5rem .7rem;
        background-color: $facebook-color;
    }

    .twitter {
        background-color: $twitter-color;
    }

    .browm {
        background-color: $browm-color;
    }

    .google {
        padding: .5rem .4rem;
        background-color: $google-color;
    }

    form {
        width: 100%;
        @extend %flexbox;
        flex-wrap: wrap;

        input {
            @extend %input;
            border: none;

            &:last-child {
                background-color: $items-color;
                color: $color-web;

                &:hover {
                    background-color: $items-color2;
                }
            }

        }
    }
}

@media only screen and (max-width: 992px) {
    %pd-section {
        padding: 3.5rem 4%;
    }

    body {
        font-size: 20px;
    }

    .nav__items--hidden {
        display: none !important;
    }

    #what-we-do {
        .dog-list {
            @include dp-grid(1fr 1fr, auto);

            img {
                width: 40%;
            }
        }
    }

    #statistics {
        .statistics__items {
            @include dp-grid(1fr 1fr, auto);
        }
    }

    #services {
        .services-left {
            padding: 0;
        }
    }

    #testimonials {
        .main-test__items {
            padding: 1rem .1rem;
        }
    }

    footer {
        form input {
            &:first-child {
                width: 65%;
            }

            &:last-child {
                width: 30%;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    body {
        font-size: 14px;
    }

    #what-we-do {
        .dog-list {
            @include dp-grid(1fr, auto);

            img {
                width: 30%;
            }
        }
    }

    #statistics {
        .statistics__items {
            @include dp-grid(1fr, auto);
        }
    }

    #services {
        display: block;

        .services-left {
            width: 100%;
            padding-bottom: 2rem;
        }

        .services-right {
            width: 100%;
            @include dp-grid(1fr, auto);

            &__items {
                div {
                    width: 100%;
                }
            }
        }
    }

    #testimonials {
        .main-test {
            @include dp-grid(1fr, auto);

            h4 {
                text-align: center;
            }
        }
    }

    #our-blog {
        .wrapper {
            @include dp-grid(1fr, auto);
            gap: 2rem;
        }
    }

    #contact {
        .contact-content {
            display: block;
            padding: 0;

            &__left,
            &__right {
                width: 100%;
            }
        }
    }

    footer {
        @include dp-grid(1fr 1fr, auto);

        .footer__div--center {
            grid-area: 2 / 1 / 3 / 3;
        }

        .footer__div--bottom {
            grid-area: 3 / 1 / 3 / 3;
        }
    }
}